In [91]:
import pandas as pd

In [92]:
df = pd.read_csv("../Data/car_fuel_efficiency.csv")

In [93]:
df.count()

engine_displacement    9704
num_cylinders          9222
horsepower             8996
vehicle_weight         9704
acceleration           8774
model_year             9704
origin                 9704
fuel_type              9704
drivetrain             9704
num_doors              9202
fuel_efficiency_mpg    9704
dtype: int64

In [94]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [95]:
df.nunique()

engine_displacement      36
num_cylinders            14
horsepower              192
vehicle_weight         9704
acceleration            162
model_year               24
origin                    3
fuel_type                 2
drivetrain                2
num_doors                 9
fuel_efficiency_mpg    9704
dtype: int64

In [96]:
df.fuel_efficiency_mpg.max()

np.float64(25.96722204888372)

In [97]:
df.describe()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,9704.000000,9222.000000,8996.000000,9704.000000,8774.000000,9704.000000,9202.000000,9704.000000
mean,199.708368,3.962481,149.657292,3001.280993,15.021928,2011.484027,-0.006412,14.985243
std,49.455319,1.999323,29.879555,497.894860,2.510339,6.659808,1.048162,2.556468
min,10.000000,0.000000,37.000000,952.681761,6.000000,2000.000000,-4.000000,6.200971
25%,170.000000,3.000000,130.000000,2666.248985,13.300000,2006.000000,-1.000000,13.267459
50%,200.000000,4.000000,149.000000,2993.226296,15.000000,2012.000000,0.000000,15.006037
75%,230.000000,5.000000,170.000000,3334.957039,16.700000,2017.000000,1.000000,16.707965
max,380.000000,13.000000,271.000000,4739.077089,24.300000,2023.000000,4.000000,25.967222

In [98]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [99]:
df[df['origin'] == 'Asia'].describe()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,3247.000000,3099.000000,3013.000000,3247.000000,2933.000000,3247.000000,3072.000000,3247.000000
mean,200.052356,4.010326,150.303352,3006.292228,15.036754,2011.489375,-0.001628,14.973830
std,49.287252,1.971199,30.257169,502.434626,2.488340,6.704607,1.051428,2.578345
min,30.000000,0.000000,40.000000,1223.298226,6.400000,2000.000000,-4.000000,6.886245
25%,170.000000,3.000000,130.000000,2665.518985,13.300000,2006.000000,-1.000000,13.252010
50%,200.000000,4.000000,150.000000,2988.585737,15.100000,2012.000000,0.000000,15.034670
75%,230.000000,5.000000,171.000000,3345.355571,16.700000,2017.000000,1.000000,16.726318
max,370.000000,11.000000,245.000000,4661.144932,22.700000,2023.000000,4.000000,23.759123

In [100]:
df['horsepower'].value_counts().idxmax()

np.float64(152.0)

In [101]:
df['horsepower'].fillna(152.0).describe()

count    9704.000000
mean      149.828215
std        28.775248
min        37.000000
25%       131.000000
50%       152.000000
75%       168.000000
max       271.000000
Name: horsepower, dtype: float64

In [116]:
df[df['origin'] == 'Asia'][['vehicle_weight','model_year']]

      vehicle_weight  model_year
8        2714.219310        2016
12       2783.868974        2010
14       3582.687368        2007
20       2231.808142        2011
21       2659.431451        2016
...              ...         ...
9688     3948.404625        2018
9692     3680.341381        2016
9693     2545.070139        2012
9698     3107.427820        2005
9703     2908.043477        2005

[3247 rows x 2 columns]

In [102]:
x = df[df['origin'] == 'Asia'][['vehicle_weight','model_year']].head(7)

In [117]:
x

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [103]:
import numpy as np

In [104]:
x = np.array(x)

In [115]:
x

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [105]:
type(x)

numpy.ndarray

Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Invert XTX.

In [106]:
x_t  = np.transpose(x, axes=None)

In [118]:
x_t

array([[2714.21930965, 2783.86897424, 3582.68736772, 2231.8081416 ,
        2659.43145076, 2844.22753389, 3761.99403819],
       [2016.        , 2010.        , 2007.        , 2011.        ,
        2016.        , 2014.        , 2019.        ]])

In [107]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [108]:
new_xtx = np.multiply(np.transpose(x, axes=None), np.transpose(x, axes=None))

In [109]:
new_xtx

array([[ 7366986.46085133,  7749926.46575708, 12835648.77478558,
         4980967.58092514,  7072575.64128077,  8089630.2645139 ,
        14152599.14339381],
       [ 4064256.        ,  4040100.        ,  4028049.        ,
         4044121.        ,  4064256.        ,  4056196.        ,
         4076361.        ]])

In [110]:
new_invert = np.flip(new_xtx)

In [111]:
new_invert

array([[ 4076361.        ,  4056196.        ,  4064256.        ,
         4044121.        ,  4028049.        ,  4040100.        ,
         4064256.        ],
       [14152599.14339381,  8089630.2645139 ,  7072575.64128077,
         4980967.58092514, 12835648.77478558,  7749926.46575708,
         7366986.46085133]])

In [112]:
ans_1 = np.multiply(new_invert, x_t)

In [113]:
w  = np.multiply(ans_1, y)

In [119]:
w

array([[1.21705515e+13, 1.46794937e+13, 1.16487669e+13, 8.12313196e+12,
        1.07123202e+13, 1.26400600e+13, 1.83476482e+13],
       [3.13848039e+13, 2.11382039e+13, 1.13557274e+13, 9.01505322e+12,
        2.58766679e+13, 1.71691871e+13, 1.78487348e+13]])

In [114]:
w.sum()

np.float64(222110350697707.66)